html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/background.jpg'); /* Yolu, wwwroot içindeki images klasörüne göre belirleyin */
    background-size: cover; /* Resmin tüm ekraný kaplamasýný saðlar */
    background-position: center; /* Resmin ortalanmasýný saðlar */
    background-attachment: fixed; /* Resmin sayfa kaydýrýldýðýnda sabit kalmasýný saðlar */
}

/* Slider konteyneri */
.slider {
    margin-bottom: 30px;
}

/* Resimler için konteyner */
.banner-container {
    display: flex; /* Flexbox ile yan yana yerleþtirme */
    gap: 20px; /* Resimler arasýndaki boþluk */
}

/* Resimlerin boyutunu ayarlamak */
.banner-item img {
    width: 100%; /* Resmi kapsayýcýya göre geniþlet */
    height: auto; /* Yüksekliði orantýlý þekilde ayarla */
    max-width: 500px; /* Resmin geniþliðini sýnýrla */
    border-radius: 8px; /* Resimlere köþe yuvarlama efekti */
}
